
.grid-container-client {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 3fr;
  }
  .profil{
      display:flex;
      text-align:left;
      flex-direction: column;
      align-items: center;
      gap: 15px;
      padding: 25px;
      white-space: nowrap;
      width: 100%;
  }

  .img-profil{
      width: 100px;
      height: 100px;
      margin-top: 20px;
      border-radius: 50%;
      border-color:  #8BB08E;
      border-style: double;
  }

  .nom-profil {
      text-align:left;
      font-size: 0.5vw;
  }

  h5{
    margin: 0;
  }

  /* Bouton profil */
  .btn-custom-client {
      background-color: #AE8B2F;
      color: #333;
      border: none;
      padding:  10px;
      border-radius: 25px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      font-weight: bold;
      text-decoration: none !important;
      color: black !important;
  }

  .button-profil{
      display: flex;
      flex-direction: column; /* Définit la direction verticale des éléments */
      align-items: center; /* Aligne les éléments horizontalement au centre */
      margin-top: 20px;
    }

  .button-container button {
    flex: 1; /* Définir une part égale de l'espace disponible pour chaque bouton */
  }

  .btn-custom:hover {
      background-color: #FFC400;
  }

    .compte-client span{
      border-bottom:solid;
      border-color:  #AE8B2F;
     /* font-size: 2vw;*/
    }

    .compte-client{
      padding-bottom: 15px;
      margin-top: 40px;

    }

  .more {
    width: 20px;
    height: 20px;
    margin: 5pt;
    size: 1vw;
  }

  .pen{
    width: 20px;
    height: 20px;
    margin: 5pt;
  }

  .bin{
    width: 20px;
    height: 20px;
    margin: 5pt;
  }

  .category-icons{
    display:flex;
    justify-content:space-between
  }

  /* ==== photo-progression ====*/

  /* Styles pour les articles de client */
  .article-item-client{
    max-width: 80rem;
    margin: 0rem 1rem;
    background-color: #fff;
    box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 2rem;
  }

  .img-client{
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  /* Styles pour le conteneur des articles */
  .container-articles-client {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .container-articles-grafique{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  /* Réponse aux petits écrans */
  @media (max-width: 995px) {
    .container-articles-client  {
        grid-template-columns: 1fr;
        max-width: 100vw;
    }
  }

  @media (max-width: 995px) {
    .container-articles-grafique  {
        grid-template-columns: 1fr;
        max-width: 100vw;
    }
  }

  /* Réponse pour les grands écrans */
  @media (min-width: 1700px) {
    .container-articles-client {
        grid-template-columns: repeat(2, 1fr);

    }
  }

    .droite-compte-client{
      padding: 15px;
    }

    @media (max-width: 925px) {
      .article-item-client  {
        max-width: 50vw;
      }
    }

    @media (max-width: 925px) {
      .img-clien {
        max-width: 100vw;
      }
    }

    @media (max-width: 925px) {
      .container-client-progression {
        max-width: 100vw;
      }
    }

    .container-grafique {
      max-width: 100%; /* La largeur maximale du conteneur est égale à la largeur de l'élément parent */
      overflow: hidden; /* Pour que l'image ne dépasse pas le conteneur */
    }

    .grafique {
      width: auto;  /* La largeur de l'image est 100% de la largeur du conteneur */
      height: auto; /* La hauteur de l'image change automatiquement proportionnellement à la largeur */
      display: block; /* Assurez-vous que l'image est rendue en tant qu'élément de bloc */
    }

    @media (max-width: 768px) {
      .grid-container-client {
          grid-template-columns: 1fr;
      }

      .element-class {
          max-width: 100%;
      }
    }

  .container-client-progression{
    display: flex;
    justify-content: center;
  }

  /* secondary-navbar */
  .secondary-navbar {
    position: sticky !important;
    top: 100px;
    z-index: 2 !important;
    padding: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .none-link{
  text-decoration: none;
  color: black;
  }

  .none-link:hover {
  text-decoration: none;
  color: #AE8B2F !important;
  }

  .more:hover{
    transform: scale(1.5);
  }

  .more{
    transition: transform 0.5s ease;
  }

  @media (max-width: 768px) {
    .grafique{
      width: 100vw;
    }

  }

  .imc-cont{
    padding: 50px;
  }

  .grafique{
  width: 95%;
  }
  .imc{
    font-weight: bold;
    color: darkgreen;
  }

  /* Bootstrap */
  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    height: 100%;
  }

  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .text-center {
    text-align: center; /* Centrer le texte du titre */
    padding: 2.25rem; /* Espacement interne pour l'en-tête */
    background-color: #fff; /* Couleur de fond blanc pour l'en-tête */
    margin-bottom: 2.25rem; /* Marge inférieure pour l'en-tête */
    box-shadow: 0px 0.125rem 0.3125rem rgba(0, 0, 0, 0.1); /* Ombre pour l'en-tête */
    width: 100%;
  }
  .header{
      height: 100px;
  }

  /* pour fenetre delete */
  .modal {
      display: none;
      position: fixed;
      z-index: 1000;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
  }

  .modal-content {
      background-color: #fff;
      margin: 20% auto;
      padding: 20px;
      border-radius: 5px;
      width: 60%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      text-align: center;
  }

  .modal-buttons button {
      margin: 10px;
      padding: 5px 10px;
      background-color: #AE8B2F;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .modal-buttons button:hover {
      background-color:  #FFC400;
  }
  .more {
      width: 20px;
      height: 20px;
      margin: 5pt;
      size: 1vw;
    }
    .img-client:hover {
      transform: scale(1.3);
    }
