<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="LaravelWebPublicIndexRule" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
            <security>
                <requestFiltering>
                    <!-- 设置最大请求体大小为100MB -->
                    <requestLimits maxAllowedContentLength="104857600" />
                </requestFiltering>
            </security>
        </rewrite>
    </system.webServer>
</configuration>
